<h1>Kendo UI for Angular Grid consuming WebAPI<br />with DataSourceRequest and ToDataSourceResult()</h1>
<p>Welcome to your new single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://www.telerik.com/kendo-angular-ui/'>Kendo UI for Angular</a> for layout and styling</li>
</ul>
<p>Kendo UI - related configuration</p>
<ul>
    <li><strong>Web API endpoint, parsing the requests and returning the response using the Kendo UI for ASP.NET MVC DataSourceRequest and ToDataSourceResult()</strong>. For more information about including Kendo UI in an ASP.NET Core project, refer to <a href='http://docs.telerik.com/aspnet-core/getting-started/getting-started#getting-started-with-telerik-ui-for-aspnet-core'>this article</a>.
    <li><strong>Kendo UI for Angular Grid</strong> documentation is available <a href='http://www.telerik.com/kendo-angular-ui/components/grid/'>here</a>.
    <li><strong>Kendo UI for Angular DataQuery</strong> <a href='http://www.telerik.com/kendo-angular-ui/components/dataquery/api/toDataSourceRequestString/'>toDataSourceRequestString()</a> method converts the request into string, comparable with UI for ASP.NET MVC <strong>DataSourceRequest</strong> format.
</ul>
